@use '../abstracts/fonts';

.app {
    display: grid;
    grid-template-areas: 
        "buttons drumMachine"
        "header drumMachine";
    grid-template-columns: 2fr 7fr;     //! Temp fix just for styling not permanent
    grid-gap: 1rem;
    padding: 1rem 2rem;

    border: 2px solid var(--color-secondary);
    border-radius: 4px;
    background-color: var(--color-primary-light-1);

    &__header {
        display: grid;
        justify-content: start;
        grid-template-columns: max-content max-content;
        grid-area: header;
    }

    &__title {
        font-size: 2rem;
        line-height: 1;
        text-transform: uppercase;


        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    &__version {
        margin-left: .2rem;
        font-size: .8rem;
        font-weight: fonts.$regular;
        line-height: 1;

        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    &__buttons {
        grid-area: buttons;
    }
}