@use '../abstracts/vars';

.button {
    width: 2.4rem;
    height: 2.4rem;

    color: var(--color-secondary);

    border: 2px solid var(--color-secondary);
    border-radius: vars.$border-radius;
    background-color: var(--color-primary-light-1);

    &:not(:first-child) {
        margin-left: 0.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &--back {
        border: none;
    }
}
