@use '../abstracts/vars';

.button {
    width: 2.4rem;
    height: 2.4rem;

    color: var(--color-primary);

    border: none;
    border-radius: vars.$border-radius;
    background-color: var(--color-secondary);

    &:not(:first-child) {
        margin-left: 0.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus-visible {
        outline: none;
    }

    &--back {
        border: none;
    }
}
