@use '../abstracts/mixins' as *;

.drumMachine {
    display: grid;
    grid-area: drumMachine;
    grid-template-areas:
        'display'
        'pads'
        'volume';
    grid-row-gap: 0.5rem;

    &__drum-pads {
        display: grid;
        grid-area: pads;
        grid-template-areas:
            'pad-1 pad-2 pad-3 pad-4 pad-5 pad-6'
            'pad-7 pad-7 pad-8 pad-8 pad-9 pad-9';
        grid-template-rows: 2fr 1fr;
        grid-gap: 0.5rem;
    }
}
