@use '../abstracts/vars';
@use '../abstracts/mixins' as *;
@use '../abstracts/fonts';

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 23.4375rem;
    width: 19.375rem;
    padding: 1rem 1.2rem;

    background-color: var(--color-primary);

    border-radius: vars.$border-radius;

    @include media-query {
        height: 18.75rem;
        width: 25.625rem;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__title {
        font-size: 0.9em;
    }

    &__instruction-content * {
        margin-top: 0.6rem;
    }

    &__sub-title {
        font-size: 0.9rem;
    }

    &__list {
        padding-left: 1rem;

        font-size: 0.7rem;

        list-style-type: circle;
    }

    &__highlight {
        font-weight: fonts.$medium;
        text-transform: uppercase;
    }
}
