.volumeSlider {
    grid-area: volume;
    height: auto;
    width: 1.4rem;
    margin-left: 1.8rem;

    border-radius: 1rem;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-primary-light-1);

    -webkit-appearance: none;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    cursor: pointer;

    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
        appearance: none;
        --webkit-appearance: none;
        border: 2px solid var(--color-secondary);
        background-color: var(--color-primary-light-1);
        outline: none;
    }

    &::-webkit-slider-thumb {
        background: yellow;
        background-color: red;
        width: 100px;
        height: 100px;
    }

    &::-webkit-slider-runnable-track {
        border-radius: 1rem;
        border: 2px solid var(--color-secondary);
        background-color: var(--color-primary-light-1);
    }
}
