@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

$primary: 'M PLUS Rounded 1c', sans-serif;
$secondary: 'JetBrains mono', monospace;

$regular: 400;
$medium: 500;
