@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

$primary:           'M PLUS Rounded 1c', sans-serif;

$regular:           400;
$medium:            500;