@use 'normalize';
@use 'abstracts/mixins' as *;
@use 'abstracts/fonts';

@use 'components/container';
@use 'components/app';
@use 'components/button';
@use 'components/drumMachine';
@use 'components/display';
@use 'components/pad';
@use 'components/volumeSlider';
@use 'components/backdrop';
@use 'components/modal';

body {
    @include theme(light);

    font-family: fonts.$primary;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--color-secondary);
}
